# Exclude the build directory
build/*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
#OS crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata